/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
/* ===== Start: Theme color ===== */
:root {
  --brand-color: #e95a08;
  --primary-color: #000;
  --secondary-color: #252432;
  --accent-color: #25243280;
}
/* ===== End: Theme color ===== */
/* ===== Start: Same Styles ===== */
.inter-font {
  font-family: "Inter", sans-serif;
}
.nato-font {
  font-family: "Noto Serif", serif;
}
ul li a {
  position: relative;
}
ul li a::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--accent-color);
}
ul li a:hover::before {
  animation: move 1s;
}
@keyframes move {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
.add-to-cart-btn {
  border-radius: 6px;
  transition: transform 0.3s ease;
}
.add-to-cart-btn:hover {
  transform: scale(0.95);
}
/* ===== End: Same Styles ===== */

/* ===== Start: Animtion  ===== */
#trusted-badge {
  animation: rotate 2s ease infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ===== End: Animtion  ===== */
